<h1>login</h1>

<%= form_with model: @user, url: logins_path do |form| %> 
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "login" %>
  </div>
<% end %>

<div>
  <p>You do not have an account?</p>
  <%= link_to "Signup", new_registration_path %>
</div>

