<h1>Site#first</h1>
<p>Find me in app/views/site/first.html.erb</p>

<%= turbo_frame_tag "some_id" do %>
  <%# With Turbo Frames, you can specify where the reponse will be placed %> 
  <%= link_to "Second", second_page_path, data: { turbo_frame: "other_id" } %>

  <%# To get out of the frame to a new document %>
  <%# Keep in mind, if you render entire document instead of a fragment %>
  <%# It will render all internal frames of the view template %>
  <%=
    link_to "Second top target",
      second_page_path,
      target: "_top",
      loading: "lazy"
  %>
<% end %>

<hr />
<%= turbo_frame_tag "form_id" do %>
  <%= form_with url: third_page_path do |f| %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>
<% end %>

<hr />
<%= turbo_frame_tag "other_id" %>

<hr />
<%= turbo_frame_tag "other_id" %>

<div
  id="stimulus_test_id"
  data-controller="test"
  data-test-my-element-class="bg-black mt-4"
  data-test-name-value="Angel"
>
  <input type="text" data-test-target="text" />

  <button data-action="click->test#hello">Click Me!</button>
</div>

<%=
  link_to "Check Disconnected Stimulus Lifecycle callback - nav(turbo-drive)",
    second_page_path
%>
