<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    <div>
      <header>
        <%#= render "shared/navigation" %>
      </header>

      <div class="server-messages">
        <% if notice %>
          <p class="server-messages_notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="server-messages_alert"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
